// Styling for the masthead

header.headbar {
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-image: url("../assets/img/head-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h2{
        margin: 0;
        padding: 0;
        font-size: 28px;
    }
    .btns{
        margin: 24px 0 0 0;
        span{
            display: inline-block;
            background-image: url("../assets/img/head-btn.png");
            width: 100px;
            height: 35px;
            color: white;
            font-size: 14px;
            line-height: 35px;
            text-align: center;
        }
    }
    
}
