// Styling for the masthead

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background-image: url("../assets/img/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    .title{
        margin-top: 80px;
    }
    .qrs{
        margin-top: 70px;
        .qr{
            margin-right: 78px;
            p{
                margin: 10px 0;
                font-size: 14px;
            }
        }
    }
    .desc{
        margin-top: 30px;
    }
    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;
    }
}
