// Styling for the portfolio section
section.portfolio {
    position: relative;
    .box{
        width: 33%;
        img{
            width: 100%;
            height: auto;
        }
        p{
            padding: 0 12px;
        }
    }
    footer{
        position: absolute;
        bottom: 0;
    }
}
