// Styling for the masthead

section.services {
    .content.left{
        width: 35%;
        h4{
            font-size: 20px;
            line-height: 28px;
        }
        p{
            font-size: 14px;
            line-height: 20px;
            word-break: break-all;
        }
    }
    .content.right{
        width: 65%;
        img{
            width: 100%;
            height: auto;
        }
    }
}
