doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Creative - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Navigation
        nav#mainNav.navbar.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img.img-fluid(src='assets/img/logo.png', alt='')
                    span 拆开
                a.btn.text-white.rounded-lg(href='http://www.baidu.com') 品牌入住/登陆

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.justify-content-center
                    img.app(src='assets/img/app.png', alt='')
                    .content
                        img.title(src='assets/img/title.png', alt='')
                        .qrs
                            .qr.d-inline-block
                                img(src='assets/img/app-qr.png', alt='')
                                p.text-center.text-white 微信小程序
                            .qr.d-inline-block
                                img(src='assets/img/mp-qr.png', alt='')
                                p.text-center.text-white 微信公众号
                        .desc.text-white 扫我发现更多有趣品牌


        // About
        section.about.page-section.screen
            .h-100.d-flex.f-row
                .content
                    .text.text-white
                        h3 拆开是什么？
                        .line
                        br
                        br
                        p 近年来，品牌内容营销逐渐替代昂贵的淘系流量和传统广告
                        br
                        p 毛戈平、完美日记、三顿半等大量新锐国潮品牌纷纷崛起
                        br
                        p 我们携手众多达人真实测评了数十万+产品，助力品牌提升市场影响力
                        br
                        p 让内容营销变得更简单，让每次拆开快递都是一种惊喜
                        br
                        br
                        img(src="assets/img/shubiao.png", alt="")
                        p Opening is a surprise
                .content.img
                    img.app(src="assets/img/app-2.png", alt="")
                    .text-center
                        img.channel(src="assets/img/channel-wb.png", alt="")
                        img.channel(src="assets/img/channel-xhs.png", alt="")
                        img.channel(src="assets/img/channel-bi.png", alt="")
                        img.channel(src="assets/img/channel-dy.png", alt="")
                        img.channel(src="assets/img/channel-ks.png", alt="")
                        span.d-inline-block.channel 更多

        // Services
        section#services.page-section.screen
            .container
                header.headbar.text-white
                    h2 甄选好物试用，新锐大牌合作
                    .row
                        span.btn 申请使用
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 品牌发货
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 产品试用
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 体验反馈
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 获得悬赏
                .row
                    .content
                        h4 臻选正品大牌
                        p 潮流美妆、新品个护、优选美食、新鲜爆品统统免费带回家
                        h4 多种合作模式
                        p 达人报价、接受悬赏、免费置换、排名悬赏、定向邀约、收录奖励和粉丝福利等，多种悬赏合作方式等你解锁
                        h4 新锐品牌合作
                        p 每日10点大牌活动上新，更多新锐品牌活动火热排期中
                        h4 平台合作保障
                        p 官方严格把控品牌入驻标准，保障合作全过程，鼓励达人真实体验，坚持内容创意自由
                    .content
                        img(src="assets/img/app-3.png", alt="")

        // Portfolio
        div#portfolio.page-section.bg-primary
            .container
                header.headbar
                    h2 海量达人资源   成就每一个品牌
                    .row
                        span.btn 发布活动
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 活动报名
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 挑选达人
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 获得推广
                        img.arraw(src="assets/img/head-right.png", alt="")
                        span.btn 合作评价
                .row
                    .box
                        img(src="assets/img/app-4-1.png", alt="")
                        p 海量优质的达人资源，合作性价比高，赋能品牌合作降本提效
                    .box
                        img(src="assets/img/app-4-2.png", alt="")
                        p 个性化Brief，定制全渠道营销方案，帮助品牌精准匹配达人，广告投放ROI更高
                    .box
                        img(src="assets/img/app-4-3.png", alt="")
                        p 官方保障合作全过程，及时回收作品内容，实时监控推广效果，严重违规平台承诺赔付产品价值
                    
        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted 邮箱:brand@ckgift.cn   Copyright © 2020 浙ICP备2020030707号-1

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
