article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main, summary {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not([controls]) {
	display: none
}

[hidden] {
	display: none
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
	font-family: sans-serif
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:hover, a:active {
	outline: 0
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: bold
}

blockquote {
	margin: 1em 40px
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

p, pre {
	margin: 1em 0
}

pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before, q:after {
	content: '';
	content: none
}

small {
	font-size: 75%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

dl, menu, ol, ul {
	margin: 0
}

dd {
	margin: 0 0 0 40px
}

menu, ol, ul {
	padding: 0 0 0 0
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button, input {
	line-height: normal
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible
}

button[disabled], input[disabled] {
	cursor: default
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
	margin: 0;
	padding: 0
}

abbr[title], dfn[title] {
	cursor: help
}

u, ins {
	text-decoration: none
}

ins {
	border-bottom: 1px solid
}

img {
	font-style: italic
}

.cf:after {
	content: " ";
	display: table;
	clear: both
}

h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, .form-fields>li {
	margin-bottom: 24px;
	margin-bottom: 1.5rem
}

.double-margin {
	margin-bottom: 48px;
	margin-bottom: 3rem
}

hr {
	margin-bottom: 22px;
	margin-bottom: 1.375rem
}

html {
	font: 1em/1.5 "Open Sans", sans-serif;
	overflow-y: scroll;
	min-height: 100%
}

body {
	background: #fff;
	color: #555;
	-webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-family: "Open Sans", sans-serif;
	font-weight: 300
}

h1, .h1 {
	font-size: 36px;
	font-size: 2.25rem;
	line-height: 1.33333
}

h2, .h2 {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.6
}

h3, .h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1
}

h4, .h4 {
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.2
}

h5, .h5 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5
}

h6, .h6 {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.71429
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit
}

.giga {
	font-size: 96px;
	font-size: 6rem;
	line-height: 1
}

.mega {
	font-size: 72px;
	font-size: 4.5rem;
	line-height: 1
}

.kilo {
	font-size: 48px;
	font-size: 3rem;
	line-height: 1
}

.smaller {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2
}

.tiny {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 2.4
}

.lead {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.33333
}

.smaller {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2
}

.tiny {
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 2.4
}

a, a:visited {
	color: #cd3737;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s
}

a:hover, a:focus {
	color: #a72a2a
}

li>ul, li>ol {
	margin: 0
}

blockquote {
	text-indent: -0.41em
}

blockquote p:last-of-type {
	margin-bottom: 0
}

.source {
	display: block;
	text-indent: 0
}

.source:before {
	content: "\2014"
}

img {
	max-width: 100%;
	height: auto
}

img[width], img[height] {
	max-width: none
}

.img-right {
	float: right;
	margin-bottom: 24px;
	margin-left: 24px
}

.img-left {
	float: left;
	margin-right: 24px;
	margin-bottom: 24px
}

.img-center {
	display: block;
	margin-right: auto;
	margin-bottom: 24px;
	margin-left: auto
}

.img-short {
	height: 120px
}

.img-medium {
	height: 240px
}

.img-tall {
	height: 360px
}

figure>img {
	display: block
}

pre {
	overflow: auto
}

pre mark {
	background: none;
	border-bottom: 1px solid;
	color: inherit
}

.code-comment {
	opacity: 0.75;
	filter: alpha(opacity=75)
}

.line-numbers {
	font-family: monospace, serif;
	list-style: decimal-leading-zero inside;
	white-space: nowrap;
	overflow: auto;
	margin-left: 0
}

.line-numbers code {
	white-space: pre
}

fieldset {
	padding: 24px;
	border: 1px solid #e2e2e2
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="number"], input[type="password"], input[type="time"], input[type="url"], input[type="search"], .text-input, textarea {
	width: 100%;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 5px 10px;
	box-shadow: 0 1px 4px 0 #ddd inset
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="search"]:focus, .text-input:focus, textarea:focus {
	outline: none;
	border: 1px solid #cd3737;
	box-shadow: 0 0 3px 0 #aaa
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.form-fields {
	list-style: none;
	margin: 0
}

.form-fields>li:last-child {
	margin-bottom: 0
}

label, .label {
	display: block
}

.additional {
	display: block;
	font-weight: normal
}

.check-list {
	list-style: none;
	margin: 0
}

.check-label, .check-list label, .check-list .label {
	display: inline-block
}

.spoken-form label {
	display: inline-block;
	font: inherit
}

.extra-help {
	display: inline-block;
	visibility: hidden
}

.text-input:active+.extra-help, .text-input:focus+.extra-help {
	visibility: visible
}

table {
	width: 100%
}

th, td {
	padding: 6px;
	text-align: left
}

@media screen and (min-width: 480px) {
	th, td {
		padding: 12px
	}
}

[colspan] {
	text-align: center
}

[colspan="1"] {
	text-align: left
}

[rowspan] {
	vertical-align: middle
}

[rowspan="1"] {
	vertical-align: top
}

.container {
	*zoom: 1;
	width: 1040px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto
}

.container:after {
	content: "";
	display: table;
	clear: both
}

.float-right {
	float: right !important
}

.float-left {
	float: left !important
}

.float-none {
	float: none !important
}

.text-left {
	text-align: left !important
}

.text-center {
	text-align: center !important
}

.text-right {
	text-align: right !important
}

.weight-light {
	font-weight: 300 !important
}

.weight-normal {
	font-weight: 400 !important
}

.weight-semibold {
	font-weight: 600 !important
}

.container {
	*zoom: 1;
	width: 1040px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto
}

.container:after {
	content: "";
	display: table;
	clear: both
}

hr {
	color: #e2e2e2;
	border: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 23px;
	margin-bottom: 1.4375rem
}

@-webkit-keyframes pulse {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0;
		transform: scale(2, 2)
	}
}

@-moz-keyframes pulse {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0;
		transform: scale(2, 2)
	}
}

@-o-keyframes pulse {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0;
		transform: scale(2, 2)
	}
}

@keyframes pulse {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0;
		transform: scale(1.5, 1.5)
	}
}

html.fsvs {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden
}

html.fsvs #fsvs-body {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%
}

html.fsvs #fsvs-body>* {
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000
}

html.fsvs.no-hijack {
	overflow: auto;
	position: relative
}

html.fsvs.no-hijack #fsvs-body {
	position: static;
	transition: none !important;
	-webkit-transition: none !important;
	-webkit-transform: none !important;
	transform: none !important
}

html.fsvs.no-hijack #fsvs-pagination {
	display: none
}

html.fsvs #fsvs-pagination {
	margin: 0;
	padding: 8px 4px;
	position: fixed;
	height: auto;
	right: -100px;
	top: 50%;
	z-index: 999;
	width: 32px
}

html.fsvs #fsvs-pagination li {
	list-style: none;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0 0 2px 0;
	cursor: pointer
}

html.fsvs #fsvs-pagination li>span {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border: 1px solid white;
	display: block
}

html.fsvs #fsvs-pagination li>span>span {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	line-height: 12px;
	border: 1px solid white;
	display: block;
	margin: 4px
}

html.fsvs #fsvs-pagination li.active>span {
	border: 1px dashed white
}

html.fsvs #fsvs-pagination li.active>span>span {
	background: white
}

html.fsvs #fsvs-pagination li:last-child {
	margin: 0
}

html.fsvs #fsvs-body>.slide {
	padding: 48px 0 0 0;
	text-align: center
}

@media only screen and (max-width: 500px) {
	html.fsvs #fsvs-body #fsvs-pagination {
		right: 3px !important
	}
}

body {
	font-family: 'Open Sans', sans-serif
}

body.active-nth-slide-1 #fsvs-pagination li.active>span>span {
	background: #e65019
}

body.active-nth-slide-2 #fsvs-pagination li.active>span>span {
	background: #1c7d44
}

body.active-nth-slide-3 #fsvs-pagination li.active>span>span {
	background: #bc303a
}

body.active-nth-slide-4 #fsvs-pagination li.active>span>span {
	background: #1a242f
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.row.icenter {
	align-items: center;
}

.col.icenter {
	align-items: center;
}

.row.ccenter {
	justify-content: center;
}

.col.ccenter {
	justify-content: center;
}

.row.between {
	justify-content: space-between;
}

.col.between {
	justify-content: space-between;
}

.row.center {
	align-items: center;
	justify-content: center;
}

.col.center {
	align-items: center;
	justify-content: center;
}
.flex{
	flex: 1;
}

.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

#mainNav {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	transition: background-color 1s ease;
	box-shadow: none;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
	padding: 8px 0;
}

#mainNav .nav {
	justify-content: space-between;
}

#mainNav .navbar-brand {
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-brand img {
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

#mainNav .navbar-brand:hover {
	color: #fff;
}

#mainNav .btn {
	background-color: #FA8915;
	color: white;
	height: 32px;
	border-radius: 4px;
	padding: 0 8px;
}

#mainNav.navbar-scrolled {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #fff;
}

#mainNav.navbar-scrolled .navbar-brand {
	color: #212529;
}

#mainNav.navbar-scrolled .navbar-brand:hover {
	color: #f4623a;
}

#home {
	background-image: url("/assets/img/bg-1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	color: white;
}

#home .qrs {
	margin: 70px 0 20px 0;
}

#home .qrs .qr {
	margin-right: 40px;
}

.slide {
	background-image: url("/assets/img/bg-2.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	color: black;
}

#page2 .text {
	color: white;
	background-color: #2F3442;
	padding: 54px 0 36px 0;
}

#page2 .text .space {
	display: inline-block;
}

#page2 .text .dec {
	display: inline-block;
	width: 70%;
	text-align: left;
}

#page2 .text .dec h3 {
	margin: 12px 0;
	padding: 0;
	color: white;
	font-weight: bold;
}

#page2 .text .dec .line {
	width: 60px;
	background-color: #FFD30C;
	height: 2px;
}

#page2 .text .dec p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
}

#page2 .channels .channel {
	width: 44px;
	height: 44px;
	border-radius: 22px;
	object-fit: fill;
	margin: 0 -4px;
}

#page2 .channels .channel:nth-child(1) {
	z-index: 1;
}

#page2 .channels .channel:nth-child(2) {
	z-index: 2;
}

#page2 .channels .channel:nth-child(3) {
	z-index: 3;
}

#page2 .channels .channel:nth-child(4) {
	z-index: 4;
}

#page2 .channels .channel:nth-child(5) {
	z-index: 5;
}

#page2 .channels .channel:nth-child(6) {
	z-index: 6;
}

#page2 .channels span.channel {
	background-color: #2F3442;
	color: white;
	font-size: 12px;
	line-height: 44px;
	display: inline-block;
}

header.headbar {
	background-image: url("/assets/img/head-3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	color: white;
	text-align: left;
	padding: 16px 0;
}

header.headbar h2 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: white;
	font-weight: bold;
}

header.headbar .btns {
	margin: 24px 0 0 0;
}

header.headbar .btns span {
	display: inline-block;
	background-image: url("/assets/img/head-btn.png");
	width: 100px;
	height: 35px;
	color: white;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
}